{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["airbnb-base", "airbnb-typescript/base", "plugin:prettier/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "": "never",
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "prettier/prettier": "error"
  }
}
